@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
	--color-primary: #137fec;
	--color-background-light: #f6f7f8;
	--color-background-dark: #101922;

	--font-display: 'Inter', sans-serif;

	--radius: 0.25rem;
	--radius-lg: 0.5rem;
	--radius-xl: 0.75rem;
	--radius-full: 9999px;
}
